.app {
  --board-size: calc(var(--piece-size) * 8);
  height: var(--board-size);
  display: flex;
  gap: 0.875rem;
  flex-direction: column;
  justify-content: center;
}

.game {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.fen {
  font-family: monospace;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .app .game {
    flex-direction: column;
  }

  .fen {
    font-size: 10pt;
    padding: 0 0.25rem;
  }

  .header {
    padding: 0 0.5rem;
  }
}
