.piece {
  width: var(--piece-size);
  height: var(--piece-size);
  background-image: var(--pieces-theme-sprite);
  background-position-x: calc(var(--piece-size) * var(--piece-offset) * -1);
  background-position-y: calc(var(--piece-is-black) * var(--piece-size));
  background-size: calc(6 * var(--piece-size)) calc(2 * var(--piece-size));
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}

.piece:hover {
  cursor: grab;
}
