:root,
#app {
  --board-size: min(100vw, 650px);
  --piece-size: calc(var(--board-size) / 8);
  --light-square-color: #ffce9e;
  --dark-square-color: #d18b47;
}

#app {
  height: calc(var(--piece-size) * 8);
  display: flex;
  gap: 0.5rem;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  #app {
    flex-direction: column;
  }
}
